.photo-card {
    max-width: 300px;
    margin: 15px;
  }
  .photo-img {
    max-width: 100%;
    height: auto;
  }

  #graphCanvas {
    border: 3px solid orangered;
    background: #f9f9f9;
    margin-top: 20px;
    border-radius: 10px;
  }

  body {
    background-color:rgb(69, 97, 71);
    color: white;
  }